<ion-view title="About Recyclical" id="page10">
    <ion-content padding="true" class="has-header">
        <h1 id="aboutRecyclical-heading6" style="color:#000000;">About Recyclical</h1>
        <div id="aboutRecyclical-markdown17" style="color:#000000;">
            <p> Recyclical helps NYC recycle. Maecenas maximus vulputate libero non fringilla. Phasellus ex dui, laoreet sagittis bibendum non, rhoncus eu nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                aliquam condimentum. Maecenas ultricies odio nisi, ac suscipit justo efficitur vel. Phasellus scelerisque mi eu velit viverra, non vehicula odio tincidunt.</p>

            <p>Learn more about
                <a href="http://www1.nyc.gov/assets/dsny/zerowaste/residents.shtml">Zero Waste NYC</a>.</p>
        </div>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
    </ion-content>
</ion-view>