<ion-view title="Composting" id="page9">
    <ion-content padding="true" class="has-header">
        <h1 id="composting-heading5" style="color:#000000;">Food Scraps</h1>
        <div id="composting-markdown14" style="color:#000000;"></div>
        <div id="composting-markdown15" style="color:#000000;"></div>
        <div id="composting-markdown16" style="color:#000000;">
            <p>Brief description of recyclable/reusable thing here. Maecenas maximus vulputate libero non fringilla. Phasellus ex dui, laoreet sagittis bibendum non, rhoncus eu nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
        </div>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <a ui-sref="menu.nearbyLocations" id="composting-button10" class="button button-positive  button-block">compost near me</a>
    </ion-content>
</ion-view>