<ion-view title="Location" id="page_location">
    <ion-content padding="true" class="has-header">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48386.40092180848!2d-73.98770969994008!3d40.7147130284997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8f421e08470020e4!2sEmerson+Recycling+Corporation!5e0!3m2!1sen!2sus!4v1474807823744" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="spacer" style="width: 300px; height: 35px;"></div>
        <div id="location-markdown9" style="color:#000000;">
            <p>Recycle It
            <br>320 Hudson St.
            <br>New York, NY 10001</p>
        </div>
    </ion-content>
</ion-view>