<ion-view title="Nearby Locations" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="nearbyLocations-form2" class="list">
            <label class="item item-input" id="nearbyLocations-input2">
                <span class="input-label">Zipcode</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=40.7309296,-73.9931081&zoom=13.5&size=392x252&maptype=roadmap&markers=color:blue|label:1|40.735053,-73.995688&markers=color:yellow|label:2|40.725264,-73.999018&markers=color:red|label:3|40.727344,-73.977416" />
        <a ng-repeat="location in locations" ui-sref="menu.location" class="button button-stable  button-block">
            {{location.name}} ({{location.distance}})
            <br>
            {{location.address}}
        </a>
    </ion-content>
</ion-view>