<ion-view title="Nearby Locations" id="page5">
    <ion-content padding="true" class="has-header">
        <form id="nearbyLocations-form2" class="list">
            <label class="item item-input" id="nearbyLocations-input2">
                <span class="input-label">Zipcode</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <a ui-sref="menu.location" id="nearbyLocations-button6" class="button button-light  button-block">320 Hudson St (0.1 miles)</a>
        <a ui-sref="menu.location" id="nearbyLocations-button7" class="button button-light  button-block">123 Main St (2.3 miles)</a>
        <a ui-sref="menu.location" id="nearbyLocations-button8" class="button button-light  button-block">12 Potato St (4.3 miles)</a>
    </ion-content>
</ion-view>