<ion-view title="Recyclical" id="page1">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 50px;"></div>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="spacer" style="width: 300px; height: 31px;"></div>
        <form id="recyclical-form1" class="list">
            <a ui-sref="menu.aboutRecyclical" id="recyclical-button11" class="button button-royal  button-block">About Recyclical</a>
            <a ui-sref="menu.recycling101" id="recyclical-button9" class="button button-balanced  button-block">Recycling 101</a>
            <a ui-sref="menu.whereToRecycle" id="recyclical-button1" class="button button-balanced  button-block">Where to Recycle</a>
            <a ui-sref="menu.zeroWasteNYC" id="recyclical-button12" class="button button-positive  button-block">ZeroWaste NYC</a>
        </form>
    </ion-content>
</ion-view>