<ion-view title="Recyclical" id="page1">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 100px;"></div>
        <div style="margin: 0px; line-height: 50px; text-align: center;">
            <p class="uppercase" id="logo">Recyclic<i class="fa fa-recycle" aria-hidden="true" style="font-size:48px; color:green; vertical-align: middle;"></i>l</p>
            <p id="slogan"> in conjunction with NYC 0×30 Initiative </p>
        </div>
        <div class="spacer" style="width: 300px; height: 31px;"></div>
        <form id="recyclical-form1" class="list">
            <a ui-sref="menu.aboutRecyclical" id="recyclical-button11" class="uppercase button button-calm  button-block">About Recyclical</a>
            <a ui-sref="menu.recycling101" id="recyclical-button9" class="uppercase button button-balanced  button-block">Recycling 101</a>
            <a ui-sref="menu.whereToRecycle" id="recyclical-button1" class="uppercase button button-energized  button-block">Where to Recycle</a>
            <a ui-sref="menu.zeroWasteNYC" id="recyclical-button12" class="uppercase button button-positive  button-block">ZeroWaste NYC</a>
        </form>
    </ion-content>
</ion-view>