<ion-view title="Recycling 101" id="page8">
    <ion-content padding="true" class="has-header">
        <form id="recycling101-form5" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <ion-list id="recycling101-list2">
            <ion-item ng-repeat="item in items" ui-sref="menu.composting">{{item.name}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>