<ion-view title="Recycling 101" id="page8">
    <ion-content padding="true" class="has-header">
        <form id="recycling101-form5" class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <ion-list id="recycling101-list2">
            <ion-item id="recycling101-list-item17" ui-sref="menu.composting">Textiles</ion-item>
            <ion-item id="recycling101-list-item18" ui-sref="menu.composting">Electronics</ion-item>
            <ion-item id="recycling101-list-item19" ui-sref="menu.composting">Food Scraps</ion-item>
        </ion-list>
        <ion-list id="recycling101-list3">
            <ion-item id="recycling101-list-item21" ui-sref="menu.composting">Trash</ion-item>
            <ion-item id="recycling101-list-item22" ui-sref="menu.composting">Paper Products</ion-item>
            <ion-item id="recycling101-list-item23" ui-sref="menu.composting">Metal</ion-item>
        </ion-list>
    </ion-content>
</ion-view>