<ion-view title="Composting" id="page9">
    <ion-content padding="true" class="has-header">
        <h1 id="composting-heading5" style="color:#000000;">{{wasteType.name}}</h1>
        <div id="composting-markdown16" style="color:#000000;">
            <p>{{wasteType.description}}</p>
        </div>
        <img ng-src="{{wasteType.imageUrl}}">
        <a ui-sref="menu.nearbyLocations" id="composting-button10" class="button button-positive  button-block">compost near me</a>
    </ion-content>
</ion-view>