<ion-view title="Where to Recycle" id="page4">
    <ion-content padding="true" class="has-header">
        <h1 id="whereToRecycle-heading3" style="color:#000000;">Where to Recycle</h1>
        <a ui-sref="menu.nearbyLocations" id="whereToRecycle-button3" class="button button-energized  button-block">FOOD SCRAPS</a>
        <a ui-sref="menu.nearbyLocations" id="whereToRecycle-button4" class="button button-royal  button-block">ELECTRONICS</a>
        <a ui-sref="menu.nearbyLocations" id="whereToRecycle-button5" class="button button-assertive  button-block">TEXTILES</a>
    </ion-content>
</ion-view>