<ion-view title="Zero Waste NYC" id="page7">
    <ion-content padding="true" class="has-header">
        <h1 id="zeroWasteNYC-heading4" style="color:#000000;">ZeroWaste</h1>
        <div id="zeroWasteNYC-markdown10" style="color:#000000;">
            <p>An initiative started to reduce the amount of trash New York City sends to landfills, 0X30 has the express goal to contribute <i>zero</i> waste by 2030.<br>Residents can help achieve this by recycling often--and recycling properly. Recyclical seeks to aid you by making the process faster and more convenient.</p>
        </div>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div id="zeroWasteNYC-markdown11" style="color:#000000;">
            <p>Learn more from the official pages
                <a href="http://www1.nyc.gov/assets/dsny/zerowaste/residents.shtml">here</a>.</p>
        </div>
    </ion-content>
</ion-view>